@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Echoes.Models.AddUserViewModel

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Sign Up</h1>
                    <form method="post">
                        <div class="mb-3">
                            <label for="Username" class="form-label">Username</label>
                            <input type="text" id="Username" name="Username" class="form-control" asp-for="UserName" required />
                        </div>
                        <div class="mb-3">
                            <label for="Password" class="form-label">Password</label>
                            <input type="password" id="Password" name="Password" class="form-control" asp-for="Password" required>
                        </div>
                        <div class="mb-3">
                            <label for="ConfirmPassword" class="form-label">Confirm Password</label>
                            <input type="password" id="RePassword" name="RePassword" class="form-control" asp-for="RePassword" required>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                    </form>
                    <p class="text-center mt-3">
                        Already have an account? <a asp-action="Login" asp-controller="Users">Log in here</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>